@import url("https://fonts.googleapis.com/css?family=Open+Sans : 400,600,700");
* {
  font-family: "Open Sans", sans-serif; }

.barber-header {
  display: flex;
  height: 150px;
  margin: 0 30px 0 30px;
  padding: 20px;
  font-size: 1.4em;
  color: #000000;
  align-items: center;
  justify-content: space-between; }
  .barber-header .btns {
    display: flex; }
    .barber-header .btns .btn {
      display: flex;
      height: 50px;
      width: 100px;
      margin: 10px;
      padding: 0 7px 0 7px;
      background: none;
      font-size: 20px;
      color: #2f80ed;
      border: none;
      border-radius: 2px;
      justify-content: space-around;
      align-items: center; }
      .barber-header .btns .btn img {
        height: 15px;
        width: 15px; }
      .barber-header .btns .btn:hover {
        cursor: pointer;
        background: #33adff;
        color: white; }
      .barber-header .btns .btn:active {
        background: #3f67d4; }
    .barber-header .btns .active {
      background: #2f80ed;
      color: white; }

.barber-title {
  font-size: 1.5em;
  text-decoration: none;
  color: #000000;
  padding-right: 20px; }
  .barber-title:hover {
    color: #33adff; }

.photo-grid {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 20px; }
  .photo-grid .photo-card {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1; }
    .photo-grid .photo-card .photo-link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 25px;
      color: #2f80ed;
      flex-direction: column; }
      .photo-grid .photo-card .photo-link:hover {
        color: #33adff; }
    .photo-grid .photo-card img {
      max-height: 360px;
      width: 100%;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      object-fit: cover; }

.photo-flex {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .photo-flex .photo-card {
    display: flex;
    margin: 20px;
    align-items: center; }
    .photo-flex .photo-card .photo-link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 25px;
      color: #2f80ed; }
      .photo-flex .photo-card .photo-link:hover {
        color: #33adff; }
    .photo-flex .photo-card p {
      margin: 0;
      padding: 30px; }
    .photo-flex .photo-card img {
      height: 300px;
      width: 300px;
      object-fit: cover; }

.btn.get-more {
  display: flex;
  height: 50px;
  width: 100px;
  margin: 10px;
  padding: 0 7px 0 7px;
  background: none;
  font-size: 20px;
  color: #2f80ed;
  border: none;
  border-radius: 2px;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  margin: auto;
  background: #2f80ed;
  color: white;
  justify-content: center; }
  .btn.get-more:hover {
    cursor: pointer;
    background: #33adff; }
  .btn.get-more:active {
    background: #3f67d4; }
  .btn.get-more img {
    height: 18px;
    width: 18px;
    padding-right: 15px; }
