@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

$barber-blue      : #2f80ed;
$barber-hover     : #33adff;
$barber-active    : #3f67d4;
$barber-disable   : #8eb7ed;
$barber-black     : #000000;

$font-primary     : "Open Sans", sans-serif;
$base-font-color  : $brand-blue;
$base-font-size   : 16px;
$font-normal      : 400;
$font-semibold    : 600;
$font-bold        : 700;
$base-line-height : 1.5;
